// Colors
$light-gradient-color: #8E2DE2;
$dark-gradient-color: #4A00E0;
$start-color: #21D324;
$stop-color: #D00202;
$header-btn-color: #00C1D9;
$primary-font-color: #4A4A4A;

// Fonts
$primary-font-family: 'Open Sans', sans-serif;
$light-font-weight: 300;
$regular-font-weight: 400;
$bold-font-weight: 700;