// Header
header {
    background: $dark-gradient-color;
    background: linear-gradient(to top, $dark-gradient-color 0%, $light-gradient-color 100%);
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:768px) {
        padding: 80px 30px;
    }
    h1 {
        color: #fff;
        font-weight: $light-font-weight;
        font-size: 2.25rem;
        margin: 0 0 30px 0;
        @media screen and (min-width:768px) {
            font-size: 3rem;
        }
    }
}